{% extends 'base.html' %}

{% block extra_css %}
    <style>
    section.header{
        background-image: url("{{STATIC_URL}}img/home-bg.jpg");
    }
    </style>
{% endblock %}

{% block body_id %}rtd2015{% endblock %}
{% block body_class %}home{% endblock %}

{% block header %}
    <section class="header">
        <div class="title-container">
            <img src="{{STATIC_URL}}img/title.svg">
            <img class="important-dates" src="{{STATIC_URL}}img/dates.svg">
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="content-container">
        <img class="home-content-header" src="{{STATIC_URL}}img/home/home-header1.jpg">
        <div class="content">
            <h1>Call for Submissions</h1>
            <p>We are excited to invite submissions for the second biennial Research Through Design (RTD) conference, to be held in Cambridge, UK, between the 25<sup>th</sup> and 27<sup>th</sup> of March 2015.</p>
            <p>Research through Design (RTD) supports the dissemination of practice-based research through a novel and experimental conference format, comprising a curated exhibition of design research accompanied by round-table discussions in ‘Rooms of Interest’. The exhibition will be used as a platform for presenting and demonstrating research processes and outputs, and for generating debate about the role of the design practitioner and their work in a research context. Building on the success of inaugural RTD conference held in Newcastle upon Tyne in 2013, the second conference, RTD 2015, is to be hosted at Microsoft Research’s new European lab in the centre of Cambridge, which promises to be an exciting venue for exploring what design practice means in the early-21<sup>st</sup> Century.</p>
            <p>RTD 2015 aims to foreground the materiality of design research, placing its artefacts, processes, and practices centre stage. We invite submissions from researcher-practitioners documenting research through design projects, including descriptions of methods, processes and insights emerging from a design inquiry and offering a departure point for rich discussion. Criteria for selection are based on the authors’ presentation of artefacts (constituting research process or outcomes) as <em>central</em> to their submission; the artefacts will be included in the curated exhibition, and papers should accompany the exhibited artefact in a presentation of ‘research through design’ at the conference.</p>
            <p>Contributions to RTD 2015 may fall under (but are not limited to) the following themes:</p>
            <ul>
            <li><strong>Ways of Making</strong>: Experiences, explorations, procedures and aesthetics;</li>
            <li><strong>Ways of Knowing</strong>: Methodologies of practice, intentionality and critical thinking;</li>
            <li><strong>Ways of Being</strong>: Craft practitioners; researcher identity; engagement and collaboration;</li>
            <li><strong>Process Interrupted</strong>: Work in progress; critical reflective practice.</li>
            </ul>
            <p>We strongly encourage participation from a wide range of Design disciplines including but not limited to: Product, Industrial, Interaction, Service, Textile, Craft, Jewellery, Fashion, Architecture, Interior, Experience, Film, and those working at the intersection of disciplines such as Human-Computer Interaction or in more emergent fields and practices such as Synthetic Biology.</p>
            <h2>How to submit to RTD 2015</h2>
            <p>The submission process is made through the OpenConf system (check back soon for link to submission site) and is split into two stages:</p>
            <h3>Stage 1:</h3>
            <p>Authors are invited to submit a 300 word Abstract, accompanied by up to 10 illustrations provided  as a single PDF file by the 4<sup>th</sup> July 2014. The Abstract should summarise the motivations, intentions and/or outcomes of a ‘research through design’ project, and describe an artefact or documentation representative of this project, intended for inclusion in a curated exhibition at the conference. We invite the submission of diverse material forms of artefact, including film, online media, installation, or live performance. However the artefact – or a component feature of it – must be portable to be flexibly moved between the exhibition space and Rooms of Interest during the conference programme. Abstracts should summarise key aspects of a research through design project, and will be double-peer reviewed by the programme committee.</p>
            <h3>Stage 2:</h3>
            <p>Authors of successful Abstract submissions will be invited to submit a 6-page (maximum) written commentary on their work, using the RTD paper template provided, by 3<sup>rd</sup> October 2014. Papers should comprehensively document a research through design project, describing aims, process, (intended) outcomes and critical reflections. Authors are encouraged to illustrate this paper, leveraging visual communication in the presentation of their work.</p>
            <p>There are no constraints on the size and dimensions of proposed artefacts at Stage 1 of submission. However, a central feature of RTD is that exhibited artefacts are brought into the Rooms of Interest to support discussion. Therefore, when preparing submissions, authors are encouraged to consider transportation logistics and costs, alongside artefact portability and ease of handling at the conference. Venue staff will receive the artefacts from 27<sup>th</sup> February 2015. If your artefact contains latex or any other known allergen, let us know when submitting and we will negotiate how best to display it if accepted. Authors will be responsible for all shipping costs and insurance of artefacts and for their removal at the end of the conference.</p>
            <p>Papers and images of the artefacts will be published in ISBN digital conference proceedings that will be made available at the conference and on the conference website after the event. Works of exceptional quality will be invited to be part of an edited book that will be published following the conference.</p>
            <h2>Important Dates</h2>
            <ul>
            <li>Abstract Submission Deadline 4<sup>th</sup> July 2014</li>
            <li>Authors Notified 1<sup>st</sup> September 2014</li>
            <li>Paper Submission Deadline 3<sup>rd</sup> October 2014</li>
            <li>Authors Notified 12<sup>th</sup> December 2014</li>
            <li>Final Paper Submission 9<sup>th</sup> January, 2015</li>
            <li>Artefact Arrival Date 27<sup>th</sup> February, 2015</li>
            <li>Conference 25<sup>th</sup> to 27<sup>th</sup> March 2015</li>
            </ul>
            <p>For general conference enquiries please email <a href="mailto:chairs@researchthroughdesign.org">chairs@researchthroughdesign.org</a></p>
        </div>
        <div class="sidebar">
            <h3>RTD on Twitter</h3>
            <div class="twitter">
                <a class="twitter-timeline" href="https://twitter.com/search?q=%23rtd2015" data-widget-id="474794103033450496">Tweets about "#rtd2015"</a>
                <script>
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                </script>
            </div>
            <h3>Our Sponsors</h3>
            <img src="{{STATIC_URL}}img/MSRC.png">
            <img src="{{STATIC_URL}}img/Necastle-Uni.png">
            <img src="{{STATIC_URL}}img/Leverhulme-Trust.png">
            <img src="{{STATIC_URL}}img/EPSRC-logo.png">
            <img src="{{STATIC_URL}}img/DC-logo-sponsor.png">
        </div>
    </section>
{% endblock %}
