{% extends 'base.html' %}

{% block extra_css %}
    <style>
    section.header{
        background-image: url("{{STATIC_URL}}img/home-bg.jpg");
    }
    </style>
{% endblock %}

{% block body_id %}rtd2015{% endblock %}
{% block body_class %}home{% endblock %}

{% block header %}
    <section class="header">
        <div class="title-container">
            <img src="{{STATIC_URL}}img/title.svg">
            <img class="important-dates" src="{{STATIC_URL}}img/dates.svg">
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="content">
    </section>
{% endblock %}
