{% extends 'base.html' %}

{% block extra_css %}
    <style>
        section.header{
            background-image: -webkit-gradient(linear, 0 top, 0 bottom, from(rgba(0,0,0,0.6)), to(rgba(0,0,0,0.2))),
            url("{{STATIC_URL}}img/home/home-header1.jpg");
        }
    </style>
{% endblock %}

{% block body_id %}rtd2015{% endblock %}
{% block body_class %}about{% endblock %}

{% block header %}
    <section class="header">
        <div class="title-container">
            <h1>organisers</h1>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="content-container">
        <div class="content">
            <h2>General Chairs</h2>
            <p>Abigail Durrant – Newcastle University<br />
            John Vines – Newcastle University</p>
            <h2>Submissions Chairs</h2>
            <p>David Cameron – Goldsmiths, University of London<br />
            Nadine Jarvis – Goldsmiths, University of London<br />
            Justin Marshall – Falmouth University</p>
            <h2>Exhibition Curators</h2>
            <p>Richard Banks – Microsoft Research<br />
            Joyce Yee – Northumbria University</p>
            <h2>Documentation Chairs</h2>
            <p>Jon Rogers – University of Dundee<br />
            Jayne Wallace – University of Dundee</p>
            <h2>Communication Chair</h2>
            <p>Simon Bowen – Newcastle University</p>
            <h2>Local Organising Chair</h2>
            <p>Tim Regan – Microsoft Research </p>
            <h2>Student Volunteers Chairs</h2>
            <p>Tess Denman-Cleaver – Newcastle University<br />
            Tommy Dykes – Northumbria University</p>
            <h2>Programme Committee</h2>
            <p>James Auger – Royal College of Art<br />
            Richard Banks – Microsoft Research<br />
            Simon Bowen – Newcastle University<br />
            Miguel Bruns – TU Eindhoven<br />
            Rachel Clarke – Newcastle University<br />
            Theo Humphries – Cardiff Metropolitan University<br />
            Janine Hunt – Northumbria University<br />
            Sarah Kettley – Nottingham Trent University<br />
            Sarah Morehead – Northumbria University<br />
            Sarah Pennington – Goldsmiths, University of London<br />
            Graham Pullin – University of Dundee<br />
            Anthony Quinn – Central Saint Martins, University of the Arts London<br />
            Tim Regan – Microsoft Research<br />
            Jon Rogers – University of Dundee<br />
            Rebecca Ross – Central Saint Martins, University of the Arts London<br />
            Guy Schofield &#8211; Newcastle University<br />
            Chris Speed – Edinburgh University<br />
            Caroline Till – Central Saint Martins, University of the Arts London<br />
            Jayne Wallace – University of Dundee<br />
            Joyce Yee – Northumbria University</p>
            <h2>Steering Committee</h2>
            <p>Jayne Wallace – University of Dundee<br />
            Joyce Yee – Northumbria University</p>
            <p>For any enquiries please email <a href="mailto:chairs@researchthroughdesign.org">chairs@researchthroughdesign.org</a></p>
        </div>
        <div class="sidebar">
            <h3>RTD on Twitter</h3>
            <div class="twitter">
                <a class="twitter-timeline" href="https://twitter.com/search?q=%23rtd2015" data-widget-id="474794103033450496">Tweets about "#rtd2015"</a>
                <script>
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                </script>
            </div>
            <h3>Our Sponsors</h3>
            <img src="{{STATIC_URL}}img/MSRC.png">
            <img src="{{STATIC_URL}}img/Necastle-Uni.png">
            <img src="{{STATIC_URL}}img/Leverhulme-Trust.png">
            <img src="{{STATIC_URL}}img/EPSRC-logo.png">
            <img src="{{STATIC_URL}}img/DC-logo-sponsor.png">
        </div>
    </section>
{% endblock %}
