<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<meta name="viewport" content="width=device-width, initial-scale=1.0">

			<title>
				{% block title %}Research Through Design{% endblock %}
			</title>

			{% block css %}
				<link
					rel="stylesheet"
					type="text/css"
					href="{{STATIC_URL}}css/global.css">
			{% endblock %}
			{% block extra_css %}
			{% endblock %}

		{% endblock %}
	</head>

	<body id="{% block body_id %}{% endblock %}"
		  class="{% block body_class %}{% endblock %}">

    {% block body %}

		{% block nav %}
		{% endblock %}

		{% block footer %}
		<footer>
			<p>Research Through Design &copy; 2014</p>
		</footer>
		{% endblock footer %}

	{% endblock %}
	</body>
</html>
